# Universidad de la Sabana
## Big Data Tools
### Coterminal - Ingeniería Informática
### Prof. Hugo Franco

In [59]:
import pandas as pd
import numpy as np
import os

from IPython.display import display

- We'll define the paths for the files selected for the analysis.

In [60]:
csv_modified_path = './result_retrieve_left-and-right_x_50_2016_modified.csv'
parquet_modified_path = './result_retrieve_left-and-right_x_50_2016_modified.parquet'

- Now, we'll load the two files.

In [61]:
# --- Load the modified files ---
print("Loading modified files into new DataFrames...")
df_csv = pd.read_csv(csv_modified_path)
df_parquet = pd.read_parquet(parquet_modified_path)

print("Modified files loaded successfully. Here is a preview of the data:")
display(df_csv.head())

Loading modified files into new DataFrames...
Modified files loaded successfully. Here is a preview of the data:

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,...,protocol,value_x,value_y,value_z,sd_x,sd_y,sd_z,md_x,md_y,md_z
0,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,-165.694494,-123.182720,36.022345,0.083000,0.029000,0.0,-0.130000,-0.004700,0.0
1,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,-30.280983,-115.487058,46.915905,0.135116,0.062588,0.0,-0.296398,-0.030691,0.0
2,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,150.967856,-63.342459,45.734985,0.170525,0.072031,0.0,-0.288648,-0.046190,0.0
3,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,341.777878,21.205594,33.002680,0.186234,0.069473,0.0,-0.185545,-0.048551,0.0
4,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,504.822778,112.502710,14.049575,0.179248,0.067058,0.0,-0.065883,-0.035127,0.0

- Let's compare the disk size and the shape (rows, columns) of the two file formats. You'll notice that Parquet is significantly more efficient for storage.

In [62]:
# --- Compare file size and DataFrame shape ---

# Get file sizes
csv_size_bytes = os.path.getsize(csv_modified_path)
parquet_size_bytes = os.path.getsize(parquet_modified_path)

# Get DataFrame shapes
csv_rows, csv_cols = df_csv.shape
parquet_rows, parquet_cols = df_parquet.shape

# Print comparison
print("--- File and DataFrame Comparison ---")
print("\nCSV File:")
print(f"  - File Path: {csv_modified_path}")
print(f"  - Size on disk: {csv_size_bytes / 1024:.2f} KB")
print(f"  - Shape: {csv_rows} rows, {csv_cols} columns")

print("\nParquet File:")
print(f"  - File Path: {parquet_modified_path}")
print(f"  - Size on disk: {parquet_size_bytes / 1024:.2f} KB")
print(f"  - Shape: {parquet_rows} rows, {parquet_cols} columns")

# Highlight the size difference
size_difference = (csv_size_bytes - parquet_size_bytes) / csv_size_bytes * 100
print(f"\nNote: The Parquet file is {size_difference:.2f}% smaller than the CSV file.")

--- File and DataFrame Comparison ---

CSV File:
  - File Path: ./result_retrieve_left-and-right_x_50_2016_modified.csv
  - Size on disk: 5118.94 KB
  - Shape: 19800 rows, 22 columns

Parquet File:
  - File Path: ./result_retrieve_left-and-right_x_50_2016_modified.parquet
  - Size on disk: 234.40 KB
  - Shape: 8800 rows, 22 columns

Note: The Parquet file is 95.42% smaller than the CSV file.

- The .describe() method provides a powerful statistical summary of the data. Using include='all' gives us statistics for both numerical and text-based columns.

In [63]:
# --- Obtain a statistical description of the DataFrame ---
# (We only need to run this on one DataFrame, as they contain identical data)

print("--- Statistical Description ---")
df_parquet.info()
display(df_parquet.describe(include='all'))

--- Statistical Description ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fact_id     8800 non-null   object
 1   year        8800 non-null   object
 2   subject_id  8800 non-null   object
 3   date        8800 non-null   object
 4   otp         8800 non-null   object
 5   trial       8800 non-null   object
 6   group       8800 non-null   object
 7   marker      8800 non-null   object
 8   side        8800 non-null   object
 9   joint       8800 non-null   object
 10  variable    8800 non-null   object
 11  units       8800 non-null   object
 12  protocol    8800 non-null   object
 13  value_x     7216 non-null   float64
 14  value_y     7216 non-null   float64
 15  value_z     7216 non-null   float64
 16  sd_x        8800 non-null   float64
 17  sd_y        8800 non-null   float64
 18  sd_z        8800 non-null   float64
 19  md_x        8800 non-null   float64
 20  md_y        8800 non-null   float64
 21  md_z        8800 non-null   float64
dtypes: float64(9), object(13)
memory usage: 1.5+ MB

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,...,protocol,value_x,value_y,value_z,sd_x,sd_y,sd_z,md_x,md_y,md_z
count,8800,8800,8800,8800,8800,8800,8800,8800,8800,8800,...,8800,7216.000000,7216.000000,7216.000000,8800.000000,8800.000000,8800.000000,8800.000000,8800.000000,8800.000000
unique,66,1,2,2,1,3,1,3,2,5,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Hip,...,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,200,8800,6600,6600,8800,4400,8800,4000,4400,2400,...,8800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,45.432984,15.916871,-3.227927,1.973306,0.803216,1.772090,3.869123,0.029573,-0.736129
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,180.666356,85.375134,27.399121,2.648440,1.446461,3.297644,9.737355,1.260679,3.560550
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-603.222227,-404.164356,-168.739931,0.000000,0.000000,0.000000,-19.822896,-7.105825,-17.840089
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,-4.138910,-18.647917,0.002103,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.904576,0.000000,-0.132565,0.213006,0.000000,0.000000,0.002816,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,34.310656,3.409325,7.854257,4.939620,1.970042,2.091543,2.784633,0.000000,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1500.743634,866.649194,200.863082,9.514070,8.076213,10.415591,59.106221,5.220230,4.020000

This is the core analysis step. We group the data by the specified categories and calculate the average value_x, value_y, and value_z for each group.

In [64]:
# --- Create average values for x, y, and z columns ---

# Define the columns to group by and the columns to aggregate
grouping_cols = ['fact_id', 'side', 'joint', 'variable']
value_cols = ['value_x', 'value_y', 'value_z']

print(f"Grouping by {grouping_cols} and calculating the mean of {value_cols}...")

# Perform the groupby and aggregation.
# .reset_index() converts the grouped columns back into regular columns.
df_agg = df_parquet.groupby(grouping_cols)[value_cols].mean().reset_index()

# Rename columns for clarity in the database
df_agg.rename(columns={
    'value_x': 'avg_x',
    'value_y': 'avg_y',
    'value_z': 'avg_z'
}, inplace=True)

print("\nPreview of the final data to be loaded:")
display(df_agg.head())

Grouping by ['fact_id', 'side', 'joint', 'variable'] and calculating the mean of ['value_x', 'value_y', 'value_z']...

Preview of the final data to be loaded:

,fact_id,side,joint,variable,avg_x,avg_y,avg_z
0,16JZX591JS12OA71FJG|2016-10-06,R,Thorax,ThoraxAngles,6.180246,-1.023905e+00,-27.015106
1,1CT4N2QMHHMQ65OLACQ|2016-09-16,R,Hip,HipMoment,-9.207832,-1.036203e+01,0.157902
2,1IS23X3HH1TI5P28Y39|2016-09-16,L,Hip,HipMoment,-40.811779,-7.442207e+01,22.114508
3,1NB0OCWZZK52RI8FJLP|2016-10-06,L,Ankle,AnkleMoment,-11.118538,-1.254974e-16,3.957033
4,1SHOXV29S3GK4CT68B3|2016-09-16,L,Ankle,AnklePower,0.000000,0.000000e+00,0.002611

Handling Missing Data:
•The value_x, value_y, and value_z columns have some missing entries. First, calculate and print the total number of missing values for each of these three columns.
•Create a new, cleaned DataFrame by dropping all rows that have missing values in any of those three columns (value_x, value_y, or value_z).
•Verify your work by checking for missing values again in the new DataFrame.3.Data Filtering and Subsetting:•From your cleaned DataFrame (from Question 2), remove the columns sd_x, sd_y, sd_z, md_x, md_y, and md_z, as they are not needed for this analysis.
•Create a new DataFrame that contains only the data for the 'Hip' joint. How many rows remain in this new 'Hip' DataFrame?

File Format Comparison:
•Take the final 'Hip' DataFrame from Question 3 and save it to two new files: hip_data.csv and hip_data.parquet.
•Using Python's os library, get the size of each file on disk.
•Calculate and print the percentage difference in size, showing how much smaller the Parquet file is compared to the CSV.

Advanced Pandas Aggregation:
•Using the full cleaned DataFrame (from Question 2, before filtering for the 'Hip' joint), group the data by side and variable.
•For each group, calculate the standard deviation (std) of value_x, value_y, and value_z.
•Display the resulting aggregated DataFrame. Which variable shows the highest standard deviation for value_x on the 'L' (Left) side?6.Finding a Maximum Value:
•Using the full cleaned DataFrame, find the fact_id that corresponds to the single highest value_y measurement recorded in the entire dataset. (Hint: You might find the .idxmax() method useful).

In [65]:
columns_to_check = ['value_x', 'value_y', 'value_z']

df_parquet[columns_to_check].isna().sum()

value_x    1584
value_y    1584
value_z    1584
dtype: int64

In [66]:
df_parquet_clean = df_parquet.dropna().copy()

columns_to_check = ['value_x', 'value_y', 'value_z']

df_parquet_clean[columns_to_check].isna().sum()

value_x    0
value_y    0
value_z    0
dtype: int64

In [67]:
df_parquet_clean_drop = df_parquet_clean.drop(['sd_x', 'sd_y', 'sd_z', 'md_x', 'md_y', 'md_z'], axis=1)

df_hip_joint = df_parquet_clean_drop[df_parquet_clean_drop['joint'] == 'Hip'].copy()

df_hip_joint.head()

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,variable,units,protocol,value_x,value_y,value_z
267,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,HipMoment,Nmm,M,-289.515404,-42.131761,-12.770187
268,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,HipMoment,Nmm,M,-287.674681,-40.028505,-10.544182
269,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,HipMoment,Nmm,M,-277.832571,-34.366906,-10.298463
270,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,HipMoment,Nmm,M,-285.837787,-36.840935,-13.696395
271,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,HipMoment,Nmm,M,-305.104541,-44.529114,-19.265491

In [32]:
# Define the output directory (current directory in this case)
output_dir = './'

# Create the output directory if it doesn't exist
os.makedirs(output_dir, exist_ok=True)

# Define file paths
parquet_path = os.path.join(output_dir, 'data.parquet')
csv_path = os.path.join(output_dir, 'data.csv')

# Save to Parquet format
df_hip_joint.to_parquet(parquet_path, index=False)
print(f"DataFrame saved as Parquet to: {parquet_path}")

# Save to CSV format
df_hip_joint.to_csv(csv_path, index=False)
print(f"DataFrame saved as CSV to: {csv_path}")

DataFrame saved as Parquet to: ./data.parquet
DataFrame saved as CSV to: ./data.csv

In [68]:
# Get file sizes
df_csv = pd.read_csv('./data.csv')
df_parquet = pd.read_parquet('./data.parquet')

csv_size_bytes = os.path.getsize('./data.csv')
parquet_size_bytes = os.path.getsize('./data.parquet')

# Get DataFrame shapes
csv_rows, csv_cols = df_csv.shape
parquet_rows, parquet_cols = df_parquet.shape

# Print comparison
print("--- File and DataFrame Comparison ---")
print("\nCSV File:")
print(f"  - File Path: {csv_modified_path}")
print(f"  - Size on disk: {csv_size_bytes / 1024:.2f} KB")
print(f"  - Shape: {csv_rows} rows, {csv_cols} columns")

print("\nParquet File:")
print(f"  - File Path: {parquet_modified_path}")
print(f"  - Size on disk: {parquet_size_bytes / 1024:.2f} KB")
print(f"  - Shape: {parquet_rows} rows, {parquet_cols} columns")

# Highlight the size difference
size_difference = (csv_size_bytes - parquet_size_bytes) / csv_size_bytes * 100
print(f"\nNote: The Parquet file is {size_difference:.2f}% smaller than the CSV file.")

--- File and DataFrame Comparison ---

CSV File:
  - File Path: ./result_retrieve_left-and-right_x_50_2016_modified.csv
  - Size on disk: 349.95 KB
  - Shape: 1872 rows, 16 columns

Parquet File:
  - File Path: ./result_retrieve_left-and-right_x_50_2016_modified.parquet
  - Size on disk: 49.82 KB
  - Shape: 1872 rows, 16 columns

Note: The Parquet file is 85.76% smaller than the CSV file.

In [69]:
grouped_df = df_parquet_clean.groupby(['side', 'variable'])

# For multiple aggregations on different columns:
result_multiple = grouped_df.agg({
    'value_x': ['mean', 'std', 'min', 'max'],
    'value_y': ['mean', 'std', 'min', 'max'],
    'value_z': ['mean', 'std', 'min', 'max']
})

print("\nMultiple aggregations:")
print(result_multiple)


# To get the count of records in each group:
group_counts = df_parquet_clean.groupby(['side', 'variable']).size()
print("\nCount of records in each group:")
print(group_counts)

Multiple aggregations:
                      value_x                                       \
                         mean         std         min          max
side variable
L    AnkleAngles     5.760463    7.236943  -15.885100    17.949274
     AnkleMoment   354.404341  445.533548 -113.504364  1410.839063
     AnklePower      0.000000    0.000000    0.000000     0.000000
     HipAngles      33.305482   16.814084    2.181062    63.681429
     HipMoment     110.608525  390.290009 -574.933564  1500.743634
     HipPower        0.000000    0.000000    0.000000     0.000000
     KneeAngles     41.159984   18.171213   14.413400    76.289966
     KneeMoment     39.288622  278.542965 -449.224727  1350.451312
     KneePower       0.000000    0.000000    0.000000     0.000000
     PelvisAngles   16.476898    9.858660   -4.400327    28.712497
     ThoraxAngles   11.396676   16.101261   -5.821776    41.392241
R    AnkleAngles     9.634264    7.294016   -0.721211    31.549900
     AnkleMoment   215.672423  330.918934  -65.313452  1037.979229
     AnklePower      0.000000    0.000000    0.000000     0.000000
     HipAngles      34.532747   14.251117    3.346061    59.919115
     HipMoment      87.456640  367.780695 -603.222227  1381.240601
     HipPower        0.000000    0.000000    0.000000     0.000000
     KneeAngles     46.154685   13.388349   23.003515    67.044377
     KneeMoment     79.264069  232.181159 -271.293542   782.838611
     KneePower       0.000000    0.000000    0.000000     0.000000
     PelvisAngles   16.257423    9.959065   -4.829118    30.672442
     ThoraxAngles   12.066104   15.556039   -5.793495    43.544395

                      value_y                                        value_z  \
                         mean         std         min         max       mean
side variable
L    AnkleAngles    -2.549128    1.552987   -6.226569    0.696387  18.953285
     AnkleMoment    52.766600   62.127518  -15.897706  199.226963 -12.824126
     AnklePower      0.000000    0.000000    0.000000    0.000000   0.072581
     HipAngles      -1.367459    8.026963  -19.247000   11.860804 -27.199619
     HipMoment     144.396649  206.012862 -404.164356  584.366130  -6.466400
     HipPower        0.000000    0.000000    0.000000    0.000000   0.322049
     KneeAngles    -16.768336    2.320898  -22.772937  -12.966090 -24.991733
     KneeMoment      0.234108  123.747589 -343.695117  271.346579 -16.687660
     KneePower       0.000000    0.000000    0.000000    0.000000  -0.230481
     PelvisAngles    3.985328    3.164145   -2.848304    9.732058  15.428980
     ThoraxAngles    0.599303    5.738596  -11.387371   15.410425  16.883714
R    AnkleAngles    -0.384174    3.401258   -6.600738    9.904373   4.844486
     AnkleMoment    33.249544   59.064622  -84.797729  180.469312   9.290997
     AnklePower      0.000000    0.000000    0.000000    0.000000  -0.070416
     HipAngles       8.173542    9.286148  -12.374978   25.082619  -7.464055
     HipMoment     178.011470  238.628683 -297.688196  866.649194 -10.307734
     HipPower        0.000000    0.000000    0.000000    0.000000   0.304860
     KneeAngles    -13.143144    2.841908  -18.403515   -4.961546 -11.436590
     KneeMoment     57.164975  141.982732 -367.031691  592.043640  19.273312
     KneePower       0.000000    0.000000    0.000000    0.000000  -0.111280
     PelvisAngles   -3.412222    3.362437   -9.252468    2.877650 -15.083715
     ThoraxAngles   -0.805292    4.655788   -9.104878   10.128615 -17.027509


                         std         min         max
side variable
L    AnkleAngles   14.317677  -10.799720   47.104349
     AnkleMoment   44.063006 -139.823165   90.671776
     AnklePower     0.749317   -2.191326    3.266617
     HipAngles      9.662694  -42.371401   -4.278293
     HipMoment     51.994540 -117.864954  191.688104
     HipPower       0.614790   -0.867142    1.939625
     KneeAngles     8.761647  -41.746001   -7.941433
     KneeMoment    42.150489 -135.997756   38.805425
     KneePower      0.676812   -4.017511    1.383404
     PelvisAngles  16.029070  -16.642508   36.648441
     ThoraxAngles  13.470169  -13.084658   37.814229
R    AnkleAngles   24.973411  -34.861002   51.900765
     AnkleMoment   34.382243  -87.797745  112.453575
     AnklePower     0.322905   -1.086842    0.959401
     HipAngles      9.788242  -27.346429   10.608520
     HipMoment     52.819132 -168.739931  200.863082
     HipPower       0.509612   -0.734031    2.119319
     KneeAngles    22.403315  -55.429060   23.575901
     KneeMoment    31.457638  -35.312438  105.854077
     KneePower      0.359465   -1.505016    1.241020
     PelvisAngles  16.352671  -39.378601   20.916622
     ThoraxAngles  13.038979  -34.618721   11.431663

Count of records in each group:
side  variable
L     AnkleAngles     400
      AnkleMoment     264
      AnklePower      264
      HipAngles       400
      HipMoment       264
      HipPower        264
      KneeAngles      400
      KneeMoment      264
      KneePower       264
      PelvisAngles    400
      ThoraxAngles    400
R     AnkleAngles     400
      AnkleMoment     272
      AnklePower      272
      HipAngles       400
      HipMoment       272
      HipPower        272
      KneeAngles      400
      KneeMoment      272
      KneePower       272
      PelvisAngles    400
      ThoraxAngles    400
dtype: int64

Display the resulting aggregated DataFrame. Which variable shows the highest standard deviation for value_x on the 'L' (Left) side?
6.Finding a Maximum Value:

•Using the full cleaned DataFrame, find the fact_id that corresponds to the single highest value_y measurement recorded in the entire dataset. (Hint: You might find the .idxmax() method useful).

In [71]:
df_parquet_clean.head()

df_parquet_clean['value_y'].idxmax(axis=0)

df_parquet_clean['fact_id'].iloc[1209]

'2PW3VJSYO8AZN707ADO|2016-10-06'